.about__compain 
  .container 
    .row 
      .col-6.col-md-12.col-xs-12
        .item
          .item__title О Компании
          .item__text 
            .text С момента основания в 2019 году компания ООО «LOGO» зарекомендовала себя в качестве успешного разработчика и производителя систем безопасности в сфере учебных, государственных и промышленных объектов, и других областях бизнеса.
            .text__span  В 2019 году к единой системе LOGO.uz было подключено 320 учебных заведений в 6 регионах республики Узбекистан.
      .col-6.col-md-12.col-xs-12
        .item
          .row
            .col-6.col-md-6.col-xs-6
              .item   
                .box 
                  .box__title--number 14 
                  .box__text СЕРВИСНЫХ ЦЕНТРОВ ПО УЗБЕКИСТАН
            .col-6.col-md-6.col-xs-6
              .item   
                .box 
                  .box__title--number 600000 
                  .box__text АБОНЕНТОВ ПРОХОДИТ ЕЖЕДНЕВНО
          .row
            .col-6.col-md-6.col-xs-6
              .item   
                .box 
                  .box__title--number 7 
                  .box__text ЛЕТ НА РЫНКЕ БЕЗОПАСНОСТИ УЗБЕКИСТАНА
            .col-6.col-md-6.col-xs-6
              .item   
                .box 
                  .box__title--number 230 
                  .box__text КВАЛИФИЦИРОВАННЫХ СПЕЦИАЛИСТА





