.modal 
  .title Заказать звонок
    input(type="text", placeholder='Имя',style='background-image:url(assets/img/contacts/user.png)')
    input(type="text", placeholder='Номер телефон',style='background-image:url(assets/img/contacts/user.png)')
    .buttons
      button.submit  Отправить
      button.cancel(onclick='hideModal()')  Отменить