.news   
  .container 
    .news__title  Новости
    .row 
      .col-4.col-md-12.col-xs-12
        .item 
          .box
            .box__img
              img(src="assets/img/news__turn.jpg", alt="")
          .item__text 
            .item__text--data 23 август 2020
            .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
            .item__text--link 
              a(href="#") Подробно
      .col-4.col-md-12.col-xs-12
        .item 
          .box
            .box__img
              img(src="assets/img/news__turn.jpg", alt="")
          .item__text 
            .item__text--data 23 август 2020
            .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
            .item__text--link 
              a(href="#") Подробно
      .col-4.col-md-12.col-xs-12
        .item 
          .box
            .box__img
              img(src="assets/img/news__turn.jpg", alt="")
          .item__text 
            .item__text--data 23 август 2020
            .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
            .item__text--link 
              a(href="#") Подробно