.product 
  .product__item 
    .container 
      .product__content 
        .product__title 
          | Каталог <br>
          span Продукции
        .product__text Система контроля и управления доступом (СКУД или СКД) незаменима при организации мер безопасности на любом предприятии. Она позволяет осуществлять контроль посетителей на пропускном пункте объекта, разграничить проход сотрудников в отведенные помещения.
      .product__link
        .row  
          .col-3.col-md-6.col-xs-6
            .item 
              a.img__links(href="#",style='background-image:url(assets/img/Turn.jpg)')
                span Турникеты 
          .col-3.col-md-6.col-xs-6
            .item 
              a.img__links(href="#",style='background-image:url(assets/img/PO.jpg)')
                span ПО 
          .col-3.col-md-6.col-xs-6
            .item 
              a.img__links(href="#",style='background-image:url(assets/img/Controller.jpg)') 
                span Контроллеры
          .col-3.col-md-6.col-xs-6
            .item 
              a.img__links(href="#",style='background-image:url(assets/img/webcam.jpg)') 
                span Смарт-устройства
            