.view 
  .big__title 
    .container 
      .count: a(href="#")  Главная / О компании /
        span  Прошла 7 международная конференция по маркетингу CIMF 2017.
  .container
    .view__title Прошла 7 международная конференция по маркетингу CIMF 2017.
    .view__bg--img(style='background-image:url(assets/img/view_bg__img.jpg)')
    .view__textContent
      .text Все товары имеют подтверждение соответствия требованиям безопасности российских и общеевропейских ЕС стандартов, предъявляемым к оборудованию, предназначенному для организации безопасности на предприятиях, в организациях и т.п.
      .text Производимое LOGO оборудование и системы безопасности разрабатываются специалистами самой компании. Дивизион LOGO включает в себя конструкторское бюро, департаменты аппаратных средств и программного обеспечения. Все новые товары проходят необходимые ресурсные и климатические испытания, испытания на электробезопасность, электромагнитную совместимость, пожарную безопасность.
      .text Производимое LOGO оборудование и системы безопасности разрабатываются специалистами самой компании. Дивизион LOGO включает в себя конструкторское бюро, департаменты аппаратных средств и программного обеспечения. Все новые товары проходят необходимые ресурсные и климатические испытания, испытания на электробезопасность, электромагнитную совместимость, пожарную безопасность.
      .view__text LOGO уделяет особое внимание эффективной эксплуатации продаваемых изделий:
      ul 
        li - Компания неукоснительно выполняет гарантийные и постгарантийные обязательства производителя в течение всего жизненного срока товара
        li - Департамент сервисного обслуживания оказывает технические консультации, послепродажное обслуживание продукции, осуществляет гарантийный ремонт
        li - Сертифицированные сервисные центры PERCo помогают бизнес-партнерам, в том числе монтажным организациям, осуществлять сервис, что обеспечивает эффективное обслуживание конечных покупателей продукции PERCo