.menu {
  display: flex;
  align-items: center;
  .logo{
    padding: 12px 22px;
    a{
      font-size: 36px;
      font-family: 'roboto-b';
      color: #fff;
      margin-right: 22px;
    }
  }
  .ul__menu{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 32px 23px 25px;
    font-family: 'roboto-r';
    font-style: 12px;
    a{
      color: #000;
    }
    ul{
      display: flex;
      align-items: center;
      li{
        margin-right: 34px;
        position: relative;
        &:hover{
          &:after{
            width: 100%;
          }
        }
        &::after{
          content: '';
          display: inline-block;
          height: 2px;
          width: 0%;
          transition: 0.5s;
          background: #304C94;
          bottom: -5px;
          left: 0;
          position: absolute;
        }
      }
    }
  }
  .phone__btn{
    display: flex;
    align-items: center;
    &--btnSrc{
      width: 69px;
      height: 67px;
      background: #4467C0;
      transition: 0.5s;
      z-index: 2;
      &:hover{
        background: #fff;
        path{
          fill:  #4467C0;
        }
      }
    }
    &--btn{
      width: 140px;
      height: 67px;
      color: #fff;
      background: #304C94;
      transition: 0.5s;
      font-family: 'roboto-b';
      z-index: 2;
      &:hover{
        background: #fff;
        color:  #304C94;
      }
    }
    &--mob{
      display: none;
    }
  } 
}