.new
  .big__title 
    .container 
      .title О компании
      .count: a(href="#")  Главная /  
        span  О компании
  .container
    .row 
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
    .row 
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
    .row 
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
    .row 
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
      .col-4.col-md-6.col-xs-12
          .item 
            .box
              .box__img
                img(src="assets/img/news__turn.jpg", alt="")
            .item__text 
              .item__text--data 23 август 2020
              .item__text--desc  Прошла 7 международная конференция по маркетингу CIMF 2017.
              .item__text--link 
                a(href="#") Подробно
    .text__number   
      .text__number--numb 
        ul 
          li 
          a(href="#")  1
          li 
          a(href="#") 2
          li 
          a(href="#") ...
          li 
          a(href="#") 5 
          li 
          a(href="#") 6
          li 
          a(href="#") 7 
          li 
          a(href="#") ... 
          li 
          a(href="#") 10 
          li 
          a(href="#") 11


