.contact__map
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11987.186872983786!2d69.2843219!3d41.3132857!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba59bc80197d4da8!2z0JDQvNC40YAg0KLQtdC80YPRgCDQpdC40LXQsdC-0L3QuA!5e0!3m2!1sru!2s!4v1618997147472!5m2!1sru!2s" width="100%" height="312" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
footer  
  .footer__item 
    .container 
      .footer__item--menu
        .ul_menu 
          ul.ul__title 
            li.li__title Контакты
            li.list 
              <svg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M13.978 1.855C12.74.618 11.248 0 9.5 0 7.752 0 6.26.618 5.022 1.855c-1.237 1.237-1.855 2.73-1.855 4.478 0 .9.136 1.637.408 2.215l4.515 9.574c.124.272.315.486.575.643.26.157.538.235.835.235.297 0 .575-.078.835-.235a1.5 1.5 0 00.588-.643l4.502-9.574c.272-.578.408-1.316.408-2.215 0-1.748-.618-3.24-1.855-4.478zm-2.24 6.717A3.05 3.05 0 019.5 9.5c-.874 0-1.62-.31-2.239-.928a3.051 3.051 0 01-.928-2.239c0-.874.31-1.62.928-2.239A3.051 3.051 0 019.5 3.167c.874 0 1.62.309 2.239.927a3.05 3.05 0 01.928 2.24c0 .873-.31 1.62-.928 2.238z" fill="#fff"/><g clip-path="url(#clip1)"><path d="M209.129 117.475c-1.137-3.426-8.371-8.473-21.697-15.129-3.61-2.098-8.754-4.949-15.41-8.566a1437.412 1437.412 0 01-18.13-9.996 605.612 605.612 0 01-15.276-8.846c-.76-.571-3.139-2.234-7.136-5-4.001-2.758-7.375-4.805-10.14-6.14-2.759-1.327-5.473-1.995-8.138-1.995-3.806 0-8.56 2.714-14.268 8.135a139.01 139.01 0 00-15.7 17.706c-4.757 6.379-9.802 12.275-15.126 17.7-5.332 5.427-9.713 8.138-13.135 8.138-1.718 0-3.86-.479-6.427-1.424-2.566-.951-4.518-1.766-5.858-2.423-1.328-.671-3.607-1.999-6.845-4.004-3.244-1.999-5.048-3.094-5.428-3.285C4.34 87.877-18.023 71.317-36.678 52.67c-18.649-18.658-35.211-41.019-49.676-67.097-.19-.381-1.287-2.19-3.284-5.424-2-3.237-3.333-5.518-3.999-6.854-.666-1.331-1.475-3.283-2.425-5.852-.95-2.569-1.427-4.709-1.427-6.424 0-3.424 2.713-7.804 8.138-13.134 5.424-5.327 11.326-10.373 17.7-15.128A138.95 138.95 0 00-53.95-82.942c5.424-5.711 8.136-10.467 8.136-14.273 0-2.663-.666-5.378-1.997-8.137-1.332-2.765-3.378-6.139-6.139-10.138-2.762-3.997-4.427-6.374-4.999-7.139a627.13 627.13 0 01-8.848-15.271 1441.4 1441.4 0 01-9.995-18.131c-3.615-6.658-6.468-11.799-8.564-15.415-6.658-13.321-11.701-20.557-15.128-21.695-1.333-.571-3.333-.859-5.995-.859-5.142 0-11.85.95-20.129 2.856-8.282 1.903-14.799 3.899-19.558 5.996-9.517 3.995-19.604 15.605-30.264 34.826-9.707 17.888-14.56 35.593-14.56 53.102 0 5.135.333 10.131.999 14.989.666 4.853 1.856 10.326 3.571 16.418 1.712 6.09 3.093 10.614 4.137 13.56 1.045 2.948 2.996 8.229 5.852 15.845 2.852 7.614 4.567 12.275 5.138 13.988 6.661 18.654 14.56 35.307 23.695 49.964 15.03 24.362 35.541 49.539 61.521 75.521 25.981 25.98 51.153 46.49 75.517 61.526 14.655 9.134 31.314 17.032 49.965 23.698 1.714.568 6.375 2.279 13.986 5.141 7.614 2.854 12.897 4.805 15.845 5.852 2.949 1.048 7.474 2.43 13.559 4.145 6.098 1.715 11.566 2.905 16.419 3.576 4.856.657 9.853.996 14.989.996 17.508 0 35.214-4.856 53.105-14.562 19.219-10.656 30.826-20.745 34.823-30.269 2.102-4.754 4.093-11.273 5.996-19.555 1.909-8.278 2.857-14.985 2.857-20.126.006-2.673-.281-4.668-.855-6.012z" fill="#000"/></g></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h19v19H0z"/></clipPath><clipPath id="clip1"><path fill="#fff" transform="translate(-192 -194)" d="M0 0h401.998v401.998H0z"/></clipPath></defs></svg>
              | г.Ташкент ул. А.Темур 111
            li.list 
              <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M14.968 11.622c-.042-.128-.312-.316-.81-.564a25.259 25.259 0 00-.574-.32c-.249-.135-.474-.26-.677-.373a22.585 22.585 0 01-.57-.33 13.958 13.958 0 00-.266-.187 2.992 2.992 0 00-.378-.229.698.698 0 00-.304-.074c-.142 0-.32.101-.532.303a5.191 5.191 0 00-.586.661 6.421 6.421 0 01-.565.66c-.199.203-.362.304-.49.304a.724.724 0 01-.24-.053 2.494 2.494 0 01-.218-.09 3.968 3.968 0 01-.256-.15 6.776 6.776 0 00-.202-.122c-.973-.54-1.807-1.158-2.504-1.854-.695-.696-1.313-1.53-1.853-2.503a6.157 6.157 0 00-.123-.203 3.842 3.842 0 01-.149-.256 2.309 2.309 0 01-.09-.218.72.72 0 01-.054-.24c0-.127.102-.29.304-.49.202-.199.423-.387.66-.564.239-.178.459-.373.661-.586.202-.213.304-.39.304-.533a.69.69 0 00-.075-.303 2.96 2.96 0 00-.229-.379 11.39 11.39 0 00-.187-.266 23.399 23.399 0 01-.33-.57 53.742 53.742 0 01-.373-.676 21.73 21.73 0 00-.32-.575c-.248-.497-.436-.767-.564-.81A.597.597 0 003.155 0a3.51 3.51 0 00-.751.107 4.218 4.218 0 00-.73.223C1.319.48.942.913.544 1.63.183 2.297.002 2.958.002 3.61c0 .192.013.378.037.56.025.18.07.385.134.612.064.227.115.396.154.506.04.11.112.307.218.591.107.284.17.458.192.522a9.65 9.65 0 00.884 1.865c.561.909 1.326 1.848 2.296 2.818.97.969 1.909 1.734 2.818 2.295a9.67 9.67 0 001.864.885c.064.02.238.085.522.191.284.107.481.18.591.219.11.039.28.09.506.154.228.064.432.109.613.134.181.024.367.037.56.037.652 0 1.313-.181 1.98-.543.718-.398 1.15-.774 1.3-1.13.078-.177.153-.42.224-.73.071-.308.106-.559.106-.75 0-.1-.01-.175-.032-.225z" fill="#fff"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h15v15H0z"/></clipPath></defs></svg>
              a(href="tel:998717771122")  +998 71 777 11 22
            li.list 
              <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" fill="#fff"><path d="M1.536 5.59c.202.142.812.566 1.83 1.272 1.018.705 1.798 1.248 2.34 1.629l.379.272a9.65 9.65 0 00.946.63c.182.107.353.187.514.24.16.054.31.081.446.081h.018c.137 0 .286-.027.446-.08.161-.054.332-.134.514-.241a9.43 9.43 0 00.464-.29c.128-.087.289-.2.482-.34l.38-.272 4.178-2.902c.435-.303.798-.67 1.09-1.098.291-.428.437-.878.437-1.348 0-.393-.141-.73-.424-1.009a1.38 1.38 0 00-1.005-.42H1.43c-.459 0-.811.155-1.059.465-.247.31-.37.696-.37 1.16 0 .375.164.782.491 1.22.327.437.676.78 1.045 1.03z"/><path d="M15.107 6.545a185.806 185.806 0 00-4.446 3.08c-.34.25-.615.445-.826.585-.212.14-.493.282-.844.428a2.57 2.57 0 01-.982.219h-.018c-.304 0-.63-.073-.982-.219a5.109 5.109 0 01-.844-.428 21.16 21.16 0 01-.826-.585c-.803-.59-2.282-1.616-4.437-3.08A4.73 4.73 0 010 5.768v7.089c0 .393.14.73.42 1.009.28.28.616.42 1.009.42h13.143c.392 0 .729-.14 1.008-.42.28-.28.42-.616.42-1.01V5.769a4.922 4.922 0 01-.893.777z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs></svg>  
                a(href="mailto:info@security.uz")   info@security.uz
          ul.ul__title 
            li.li__title  Каталог
            li.list 
              a(href="#")  Турникеты
            li.list
              a(href="#") ПО
            li.list
              a(href="#") Контроллеры
            li.list
              a(href="#") Смарт-устройтва
          ul.ul__title 
            li.li__title  Компания
            li.list 
              a(href="#")  О компании
            li.list
              a(href="#") Структура
            li.list
              a(href="#") Сотрудники
            li.list
              a(href="#") Вакансии
          ul.ul__title 
            li.li__title  Помощь
            li.list 
              a(href="#")  Новости
            li.list
              a(href="#") Вопрос-ответ
            li.list
              a(href="#") Производители
  .copyright 
    .container 
      .data 2020 © Компани - систем безопасности
      .net Разработка сайта TuitSoft.uz
